*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dark: #292C35;
	--light: #F1F1F1;
	--label: #111;
}

body{
  transition: all 0.2s linear;
  width: 100vw;
  height: 100vh;
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.key{
  height: 80px;
  width: 200px;
  border-radius: 50px;
  background-color: var(--label);
  position: relative;
}

.button{
  position: absolute;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-color: var(--light);
  top: 5px;
  visibility: visible;
  cursor: pointer;

}

.light{
  transition: left 0.2s linear;
  left: 125px;
}

.dark{
  transition: left 0.2s linear;
  left: 6px;
}

.moon{
  position: absolute;
  top: 12px;
  left: 25px;
  width: 50px;
}

.sun{
  position: absolute;
  right: 25px;
  top: 12px;
  width: 50px;

}